@mixin mobile {
  @media (max-width: 500px) {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Oswald", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

.pexels {
  padding-top: 8rem;

  @include mobile {
    padding-top: 5rem;
  }

  .pexels_title {
    h1 {
      text-align: center;
    }
  }

  .morePicture {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;

    button {
      padding: 0.5rem 1rem;
      border: none;
      background-color: #4f5f77;
      color: antiquewhite;
      cursor: pointer;
      border-radius: 2rem;
    }
  }

  .search {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 0rem;

    input,
    button {
      font-size: 2rem;
      padding: 0.25rem;
      border: 3px solid #4f5f77;

      @include mobile {
        font-size: 1rem;
      }
    }

    button {
      background-color: #4f5f77;
      color: antiquewhite;
      cursor: pointer;
    }
  }

  .pictures {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .picture {
      padding: 0.5rem;
      width: 400px;

      @include mobile {
        width: 80%;
      }

      .imageContainer {
        overflow: hidden;
        height: 40vh;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: all 0.3s ease;



          &:hover {
            transform: scale(1.25);
          }
        }
      }
    }
  }
}